
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HolaMundo</title>
</head>
<body>
    <div>
        <a href="@Url.Action">Ir a Listado</a>
        <!--Hola Mundo desde la Vista.-->
        <!--poner enlace href en index hacia listado de productos-->
        
    </div>
</body>
</html>
